.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140px;
    margin: 20px 0;
}

.ratingAndRelease {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px 20px;
}

.mainActor {
    display: flex;
    justify-content: center;
    margin: 20px;
}

a{
    color: black;
    
}