.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 80px;
    margin: 10px 0;
}

/* .genre{}

.director{}

.release_year{}

.rating{}

.main_actor{} */

.section{
    margin: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #77dd77;
    transition: opacity 0.7s, border 0.7s;

    &:hover {
        opacity: 0.5;
        border-color: purple;
    }
}

.delete {
    background-color: transparent;

}
