* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image {
  aspect-ratio: 1 / 1.5;
}

body {
  background-color: #333;
  color: aliceblue;
  text-align: justify;
  margin-bottom: 50px;
}

.textarea {
  width: 205px;
}
